.dashboard-page
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        .text-center
          h2.brand
            | Q Verify

          img.user-avatar(src='assets/images/qverify3.png')
          br
          a.btn.btn-white.btn-outline.btn-rounded.btn-sm(ui-sref='login') Logout
        ul.nav.nav-sidebar
          li(ng-class="{active: $state.includes('overview')}")
            a(ui-sref='overview')
              | Cases
              span.sr-only (current)
          li(ng-class="{active: $state.includes('company')}")
            a(ui-sref='company') Company


      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        .col-md-12
          .col-md-12.col-xs-4
            button.btn.btn-primary.pull-right(type='submit' ng-click='Company.openNewCompany()' style='background-color:#083040') Add
        .col-md-12.col-sm-12.col-xs-12.panel.panel-info.no-padder
          .panel-heading.font-bold.h4.text-ellipsis.bg-light
            .fa.fa-mouse-pointer.text-dark
            | &nbsp;&nbsp;Company

          #grid1.grid(ui-grid="gridOpts" style="height:692px" ui-grid-pinning ui-grid-infinite-scroll ui-grid-exporte)


