div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container
    div.navbar-header
      button.navbar-toggle.pull-left(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed',ui-sref='partner') Back

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
  //toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

  div.m-t-xl.padder.no-margin(style="padding-left:2px")
    .hbox
      .wrapper-md.bg-light
        form.form-validation(name="form" ng-submit='$ctrl.update()')


          .list-group.list-group-sm.m-b-md
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | University Name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.university name'  ng-model='$ctrl.data.university_name' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Degree
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Degree'  ng-model='$ctrl.data.degree' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Remarks
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Remarks' ng-model='$ctrl.data.remarks'  required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Designation
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Designation' ng-model='$ctrl.data.designation'  required )
                    //select.form.form-control(type='text' placeholder='eg.Designation' ng-options='item.id as item.name for item in Education.Designation' ng-model='Education.education.designation_id'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Verifier name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.verifier name' ng-model='$ctrl.data.verifier_name' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Role no
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.role no' ng-model='$ctrl.data.role_no' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Passing year
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.passing year' ng-model='$ctrl.data.passing_year' required )

            button.btn.btn-primary.pull-left(type='submit' ng-disabled='form.$invalid' )
              i.fa.fa-upload
              | &nbsp;&nbsp;Update
