.container

    .panel-heading
      p
        h4.text-ellipsis(style="color:#1750a9" title='{{View.Case.name}}') {{View.Case.name}}
    ul.list-group(ng-show="View.Case.CaseAddressVerifications.length>0")
      .panel.panel-info
        .panel-heading Visiting address
        .panel-body {{View.Case.CaseAddressVerifications[0].visiting_address}}
      .panel.panel-info
        .panel-heading Visiting person name
        .panel-body {{View.Case.CaseAddressVerifications[0].visiting_person_name}}
      .panel.panel-info
        .panel-heading Relation with candidate
        .panel-body {{View.Case.CaseAddressVerifications[0].relation_with_candidate}}
      .panel.panel-info
        .panel-heading File
        .panel-body {{View.Case.CaseAddressVerifications[0].image}}
      .panel.panel-info
        .panel-heading House Type
        .panel-body {{View.Case.CaseAddressVerifications[0].HouseType.name}}
      .panel.panel-info(style="color:#383f44")
        .panel-heading Years of staying
        .panel-body {{View.Case.CaseAddressVerifications[0].years_of_staying}}

      // criminal //
    ul.list-group(ng-show="View.Case.CaseCriminalVerifications.length>0")
      .panel.panel-warning
        .panel-heading Police Station Name
        .panel-body {{View.Case.CaseCriminalVerifications[0].police_station_name}}
      .panel.panel-warning
        .panel-heading Police Authority Name
        .panel-body {{View.Case.CaseCriminalVerifications[0].police_authority_name}}
      .panel.panel-warning
        .panel-heading Remark
        .panel-body {{View.Case.CaseCriminalVerifications[0].remark}}
      .panel.panel-warning
        .panel-heading Date Of Birth
        .panel-body {{View.Case.CaseCriminalVerifications[0].dob}}
      .panel.panel-warning
        .panel-heading Father's Name
        .panel-body {{View.Case.CaseCriminalVerifications[0].father_name}}
      .panel.panel-warning
        .panel-heading Designation
        .panel-body {{View.Case.CaseCriminalVerifications[0].Designation.name}}


      // education //
    ul.list-group(ng-show="View.Case.CaseEducationVerifications.length>0")
      .panel.panel-success
        .panel-heading Degree
        .panel-body {{View.Case.CaseEducationVerifications[0].Degree.name}}
      .panel.panel-success
        .panel-heading Role no
        .panel-body {{View.Case.CaseEducationVerifications[0].role_no}}
      .panel.panel-success
        .panel-heading Passing year
        .panel-body {{View.Case.CaseEducationVerifications[0].passing_year}}
      .panel.panel-success
        .panel-heading Verifier's Name
        .panel-body {{View.Case.CaseEducationVerifications[0].verifier_name}}
      .panel.panel-success
        .panel-heading Designation
        .panel-body {{View.Case.CaseEducationVerifications[0].Designation.name}}
      .panel.panel-success
        .panel-heading University name
        .panel-body {{View.Case.CaseEducationVerifications[0].university_name_id}}
      .panel.panel-success
        .panel-heading Remarks
        .panel-body {{View.Case.CaseEducationVerifications[0].remarks}}


      // Site//
    ul.list-group(ng-show="View.Case.CaseSiteVerifications.length>0" )
      .panel.panel-danger
        .panel-heading Company Name
        .panel-body {{View.Case.CaseSiteVerifications[0].company_name}}
      .panel.panel-danger
        .panel-heading Company Address
        .panel-body {{View.Case.CaseSiteVerifications[0].address}}
      .panel.panel-danger
        .panel-heading Phone no
        .panel-body {{View.Case.CaseSiteVerifications[0].telephone}}
      .panel.panel-danger
        .panel-heading Fax no
        .panel-body {{View.Case.CaseSiteVerifications[0].fax_no}}
      .panel.panel-danger
        .panel-heading Email id
        .panel-body {{View.Case.CaseSiteVerifications[0].email_id}}
      .panel.panel-danger
        .panel-heading Website
        .panel-body {{View.Case.CaseSiteVerifications[0].website}}
      .panel.panel-danger
        .panel-heading Name of chief executive
        .panel-body {{View.Case.CaseSiteVerifications[0].name_of_chief_executive}}
      .panel.panel-danger
        .panel-heading Director
        .panel-body {{View.Case.CaseSiteVerifications[0].director}}
      .panel.panel-danger
        .panel-heading Company sign present
        .panel-body {{View.Case.CaseSiteVerifications[0].company_sign_present}}
      .panel.panel-danger
        .panel-heading Computers present
        .panel-body {{View.Case.CaseSiteVerifications[0].computers}}
      .panel.panel-danger
        .panel-heading Tables present
        .panel-body {{View.Case.CaseSiteVerifications[0].tables}}
      .panel.panel-danger
        .panel-heading Chairs present
        .panel-body {{View.Case.CaseSiteVerifications[0].chairs}}
      .panel.panel-danger
        .panel-heading Approx
        .panel-body {{View.Case.CaseSiteVerifications[0].approx}}
      .panel.panel-danger
        .panel-heading Area
        .panel-body {{View.Case.CaseSiteVerifications[0].area}}
      .panel.panel-danger
        .panel-heading Employee Awareness
        .panel-body {{View.Case.CaseSiteVerifications[0].employee_awareness}}
      .panel.panel-danger
        .panel-heading Neighbours name
        .panel-body {{View.Case.CaseSiteVerifications[0].neighbours_name}}
      .panel.panel-danger
        .panel-heading Designation
        .panel-body {{View.Case.CaseSiteVerifications[0].Designation.name}}
      .panel.panel-danger
        .panel-heading Remarks
        .panel-body {{View.Case.CaseSiteVerifications[0].remarks}}
      .panel.panel-danger
        .panel-heading Comment
        .panel-body {{View.Case.CaseSiteVerifications[0].comment}}
      .panel.panel-danger
        .panel-heading Concern Person
        .panel-body {{View.Case.CaseSiteVerifications[0].concern_person}}





      //p
      //  i.fa.fa-briefcase(ng-show="View.Case.CaseSiteVerifications.length>0"style="color:#383f44")
      //    | Total no of employees;{{View.Case.CaseSiteVerifications[0].total_no _of_employees}}
      //p
      //  i.fa.fa-briefcase(ng-show="View.Case.CaseSiteVerifications.length>0"style="color:#383f44")
      //    | Name of employees;{{View.Case.CaseSiteVerifications[0].name_of employees}}

      //p
      //  i.fa.fa-briefcase(ng-show="length>=0"style="color:#383f44")
      //    | &nbsp;{{View.phone}}



