div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container
    div.navbar-header
      button.navbar-toggle.pull-left(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed',ui-sref='partner') Back

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
  //toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

  div.m-t-xl.padder.no-margin(style="padding-left:2px")
    .hbox
      .wrapper-md.bg-light
        form.form-validation(name="form" ng-submit='$ctrl.update()' )


          .list-group.list-group-sm.m-b-md
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Police station name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.police station name' ng-model='$ctrl.data.police_station_name'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Police authority name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.police authority name' ng-model='$ctrl.data.police_authority_name' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Father name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.father name' ng-model='$ctrl.data.father_name' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Remark
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.remarks' ng-model='$ctrl.data.remark'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | DOB
                    span.text-danger *
                    input.form.form-control(type='date' placeholder='eg.dob' ng-model='$ctrl.data.dob' required )

            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Designation
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.designation' ng-model='$ctrl.data.designation' required )
                    //select.form.form-control(type='text' placeholder='eg.designation' ng-options='item.id as item.name for item in $ctrl.data.Designation' ng-model='$ctrl.data.$ctrl.data.designation_id'  )


            button.btn.btn-primary.pull-left(type='submit' ng-disabled='form.$invalid' style='background-color:#083040')
              i.fa.fa-upload
              | &nbsp;&nbsp;Update
