.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
  //toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

  div.m-t-xl.padder.no-margin(style="padding-left:2px")
    .hbox
      .wrapper-md.bg-light
        form.form-validation(name="form" ng-submit='Criminal.createCriminal()' )


          .list-group.list-group-sm.m-b-md
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Police station name
                    input.form.form-control(type='text' placeholder='eg.police station name' ng-model='Criminal.criminal.police_station_name'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Police authority name
                    input.form.form-control(type='text' placeholder='eg.police authority name' ng-model='Criminal.criminal.police_authority_name'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Father name
                    input.form.form-control(type='text' placeholder='eg.father name' ng-model='Criminal.criminal.father_name'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Remark
                    input.form.form-control(type='text' placeholder='eg.remarks' ng-model='Criminal.criminal.remark'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | DOB
                    input.form.form-control(type='date' placeholder='eg.dob' ng-model='Criminal.criminal.dob'  )

            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Address
                    select.form.form-control(type='text' placeholder='eg.designation' ng-options='item.id as item.name for item in Criminal.Designation' ng-model='Criminal.criminal.designation_id'  )

            //.list-group-item: input.form-control.no-border(type='text' placeholder='police station name' ng-model='Criminal.criminal.police_station_name' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='police authority name' ng-model='Criminal.criminal.police_authority_name' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='father name' ng-model='Criminal.criminal.father_name' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='remarks' ng-model='Criminal.criminal.remark' required)
            //.list-group-item: input.form-control.no-border(type='date' placeholder='DOB' ng-model='Criminal.criminal.dob' required)
            //.list-group-item: select.form-control.no-border(type='text' placeholder='designation id' ng-options='item.id as item.name for item in Criminal.Designation' ng-model='Criminal.criminal.designation_id' required)

            button.btn.btn-primary.pull-left(type='submit' ng-disabled='form.$invalid' )
              i.fa.fa-upload
              | &nbsp;&nbsp;Submit
