.dashboard-page
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        .text-center
          h2.brand
            | Q Verify

          img.user-avatar(src='images/11-256.png')
          br
          a.btn.btn-white.btn-outline.btn-rounded.btn-sm(ui-sref='login') Logout
        ul.nav.nav-sidebar
          li(ng-class="{active: $state.includes('overview')}")
            a(ui-sref='overview')
              | Overview
              span.sr-only (current)
          li(ng-class="{active: $state.includes('company')}")
            a(ui-sref='company') Company
          li(ng-class="{active: $state.includes('register')}")
            a(ui-sref='register') Register
          li(ng-class="{active: $state.includes('allocation')}")
            a(ui-sref='allocation') Allocation
          li(ng-class="{active: $state.includes('creation')}")
            a(ui-sref='creation') Creation

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        .col-md-12.col-sm-12.col-xs-12.panel.panel-info.no-padder
          .panel-heading.font-bold.h4.text-ellipsis.bg-light
            .fa.fa-mouse-pointer.text-dark
            | &nbsp;&nbsp;Overview
            //i.fa.fa-angle-right.pull-right.font-bold
          .panel-body.p-5px
            scrollable-table(watch="Dashboard.summary.applicantData")
              table.table.table-striped.table-bordered.m-b
                thead
                  tr
                    th.font-bold Client
                    th.font-bold Vendor
                    th.font-bold Case with Case type
                    th.font-bold(style="width:25%") Status
                //(ng-if='Dash.pipeline.length>0')
                tbody
                  tr(ng-class="$last ?'':'b-b'" ng-repeat='allocation in Overview.Allocation'  ui-sref='view({case_id: allocation.cases_id })')
                    td: a.text-ellipsis {{allocation.Case.User.name}}
                    td: a.text-ellipsis {{allocation.User.name}}
                    td: a.text-ellipsis {{allocation.Case.name}} ({{allocation.Case.CaseType.name}})
                    td: span.text-ellipsis {{allocation.Case.Status.name}}










