.dashboard-page
  .container-fluid
    .row
      sidebar

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

        div.m-t-xl.padder.no-margin(style="padding-left:200px ; padding-right:200px")
          .hbox
            .wrapper-md.bg-light
              form.form.form-validation(name="form"  ng-submit='Newcompany.createCompany(Newcompany.company)' )


                .list-group.list-group-sm.m-b-md

                  .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-md-12.col-sm-12.col-xs-12
                        label.col-xs-12.input-group
                          | Company Name
                          span.text-danger *
                          input.form.form-control(type='text' placeholder='company name' ng-model='Newcompany.company.name'  required )
                  .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-md-12.col-sm-12.col-xs-12
                        label.col-xs-12.input-group
                          | Address
                          span.text-danger *
                          input.form.form-control(type='text' placeholder='address' ng-model='Newcompany.company.address'  required )
                  .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-md-12.col-sm-12.col-xs-12
                        label.col-xs-12.input-group
                          | User Type
                          span.text-danger *
                          select.form.form-control(ng-options='item.id as item.name for item in Newcompany.UserType' ng-model='Newcompany.company.user_type_id' required )
                  .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-md-12.col-sm-12.col-xs-12
                        label.col-xs-12.input-group
                          | Location
                          span.text-danger *
                          input.form.form-control(type='text' placeholder='location'  ng-model='Newcompany.company.location' required )


                button.btn.btn-lg.btn-primary.btn-block(type='submit' ng-disabled='form.$invalid' style='background-color:#083040') Submit



