.dashboard-page
  .container-fluid
    .row

      sidebar

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        .col-md-12
          .col-md-12.col-xs-4
            button.btn.btn-primary.pull-right(ui-sref='allocations.list' style='background-color:#083040') Allocate
          //.col-md-2.col-xs-4
          //  button.btn.btn-primary.pull-right(ui-sref='creation' style='background-color:#083040') Candidate Creation





        .col-md-12.col-sm-12.col-xs-12.panel.panel-info.no-padder
          .panel-heading.font-bold.h4.text-ellipsis.bg-light
            .fa.fa-mouse-pointer.text-dark
            | &nbsp;&nbsp;Cases
          #grid1.grid(ui-grid="gridOpts" style="height:720px"  ui-grid-pinning ui-grid-infinite-scroll ui-grid-exporte )
            //select(ng-model='row.entity.status', data-ng-options='d as d.type for d in genderType')
            //  option(value='', selected='', disabled='') Choose option
        //div(id="grid1" ui-grid="{ data: myData, columnDefs: [{name: 'Client', field: 'Case.User.name'},{name: 'Vendor', field: 'User.name'},{name: 'Case', field: 'Case.name'},{name: 'Status', field: 'Case.Status.name'}] }")











