.dashboard-page
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        .text-center
          h2.brand
            | Q Verify

          img.user-avatar(src='assets/images/qverify3.png')
          br
          a.btn.btn-white.btn-outline.btn-rounded.btn-sm(ui-sref='login') Logout
        ul.nav.nav-sidebar
          li(ng-class="{active: $state.includes('overview')}")
            a(ui-sref='overview')
              | Cases
              span.sr-only (current)
          li(ng-class="{active: $state.includes('company')}")
            a(ui-sref='company') Company
          //li(ng-class="{active: $state.includes('register')}")
          //  a(ui-sref='register') Register
          //li(ng-class="{active: $state.includes('creation')}")
          //  a(ui-sref='creation') Creation
          //li(ng-class="{active: $state.includes('allocation')}")
          //  a(ui-sref='allocation') Allocation

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
