.dashboard-page
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        .text-center
          h2.brand
            | Q Verify

          img(src='images/11-256.png')
          br
          a.btn.btn-white.btn-outline.btn-rounded.btn-sm(ui-sref='login') Logout
        ul.nav.nav-sidebar
          li(ng-class="{active: $state.includes('overview')}")
            a(ui-sref='overview')
              | Overview
              span.sr-only (current)
          li(ng-class="{active: $state.includes('company')}")
            a(ui-sref='company') Company
          li(ng-class="{active: $state.includes('register')}")
            a(ui-sref='register') Register
          li(ng-class="{active: $state.includes('allocation')}")
            a(ui-sref='allocation') Allocation
          li(ng-class="{active: $state.includes('creation')}")
            a(ui-sref='creation') Creation

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

        div.m-t-xl.padder.no-margin(style="padding-left:200px ; padding-right:200px")
          .hbox
            .wrapper-md.bg-light
              h1.m-n.font-thin.h3
                span Case Allocation
              form.form-horizontal.wrapper-md( name="AllocationDataForm")
                .row
                  // Form Block
                  .col-md-7.col-sm-7.col-xs-7
                    // Form Items
                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-6.col-sm-6.col-xs-12
                          label.col-xs-12.input-group
                            | Case
                            select.form.form-control(ng-options="item.id as item.name for item in Allocation.Case" ng-model="Allocation.allocation.cases_id" )
                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-6.col-sm-6.col-xs-12
                          label.col-xs-12.input-group
                            | Vendor
                            select.form.form-control(ng-options="item.id as item.name for item in Allocation.Vendor" ng-model="Allocation.allocation.user_id")
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-md-4.col-xs-12
                        //ng-disabled='AllocationDataForm.$invalid'
                        button.btn.btn-primary.pull-left(type='submit' ng-click='Allocation.create()' )
                          i.fa.fa-upload
                          | &nbsp;&nbsp;Submit
