div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container
    div.navbar-header
      button.navbar-toggle.pull-left(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed',ui-sref='partner') Back


  .container

  .panel.panel-default
    .panel-heading
      p
        h4.text-ellipsis(style="color:#1750a9" title='{{Candidate.Case.name}}') {{Candidate.Case.name}}
    .panel-body
      ul.list-group
        li.list-group-item(style="color:#383f44")
          |  Case Name = {{Candidate.Case.name}}
        li.list-group-item( style="color:#383f44")
          |  Address = {{Candidate.Case.address}}
        li.list-group-item( style="color:#383f44")
          |  Phone = {{Candidate.Case.phone}}
        li.list-group-item( style="color:#383f44")
          |  Client = {{Candidate.Case.User.name}}
        li.list-group-item( style="color:#383f44")
          //|  Document = {{Candidate.Case.pdf}}
          |  Document =
          a(target="_blank" ng-href='{{Candidate.URLS.QVERIFY_API}}/cases/{{Candidate.Case.id}}/getFile?access_token={{Candidate.AccessToken}}') download



      .col-md-12
          .col-md-3.col-xs-4
            button.btn.btn-primary.pull-right(type='submit' ng-show='Candidate.Case.status_id == 1 || Candidate.Case.status_id == 4' ng-click='Candidate.updateStatus(3)') Accept

          .col-md-3.col-xs-4
            button.btn.btn-success.pull-right(type='submit' ng-show='Candidate.Case.status_id == 3 || Candidate.Case.status_id == 4' ng-click='Candidate.openCase()') Upload

          .col-md-3.col-xs-4
            button.btn.btn-danger.pull-right(type='submit' ng-show='Candidate.Case.status_id == 1 || Candidate.Case.status_id == 3' ng-click='Candidate.updateStatus(4)') Reject

