.dashboard-page
  .container-fluid
    .row
      sidebar

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        .col-md-12
          .col-md-12.col-xs-4
            button.btn.btn-primary.pull-right( style='background-color:#083040' ui-sref='edit({id: ctrl.id })') Edit

        div.m-t-xl.padder.no-margin(style="padding-left:200px ; padding-right:200px")
          .hbox
            .wrapper-md.bg-light
                .panel-heading
                  p
                    h4.text-ellipsis(style="color:#1750a9") {{ctrl.Candidates.name}}
                ul.list-group(ng-repeat='case in ctrl.Candidates.CandidateCases' ng-if='case.case_type_id === 1')
                  .panel.panel-info
                    .panel-heading Address Verification
                    .panel-body Permanent Address 1 : {{ctrl.Candidates.address}}
                    .panel-body Permanent Address 2 : {{ctrl.Candidates.address2}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address3}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address4}}
                    .panel-body Phone number : {{ctrl.Candidates.phone}}
                    .panel-body State : {{ctrl.Candidates.state}}
                    .panel-body Pin : {{ctrl.Candidates.pin}}
                    //.panel-body Document :
                    //  a(target="_blank" ng-href=' {{ctrl.URLS.QVERIFY_API}}/candidates/{{ctrl.Candidates.id}}/getFile?access_token={{ctrl.AccessToken}}') download

                  .panel-heading
                ul.list-group(ng-repeat='case in ctrl.Candidates.CandidateCases' ng-if='case.case_type_id === 2')
                  .panel.panel-warning
                    .panel-heading Criminal Verification
                    .panel-body Permanent Address 1 : {{ctrl.Candidates.address}}
                    .panel-body Permanent Address 2 : {{ctrl.Candidates.address2}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address3}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address4}}
                    .panel-body Phone number : {{ctrl.Candidates.phone}}
                    .panel-body State : {{ctrl.Candidates.state}}
                    .panel-body Pin : {{ctrl.Candidates.pin}}
                    .panel-body DOB : {{case.CaseCriminalVerification.dob}}
                    .panel-body Father's Name : {{case.CaseCriminalVerification.father_name}}
                    //.panel-body Document :
                    //  a(target="_blank" ng-href=' {{ctrl.URLS.QVERIFY_API}}/candidates/{{ctrl.Candidates.id}}/getFile?access_token={{ctrl.AccessToken}}') download


                  .panel-heading
                ul.list-group(ng-repeat='case in ctrl.Candidates.CandidateCases' ng-if='case.case_type_id === 3' )
                  .panel.panel-success
                    .panel-heading Education Verification
                    .panel-body Permanent Address 1 : {{ctrl.Candidates.address}}
                    .panel-body Permanent Address 2 : {{ctrl.Candidates.address2}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address3}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address4}}
                    .panel-body Phone number : {{ctrl.Candidates.phone}}
                    .panel-body State : {{ctrl.Candidates.state}}
                    .panel-body Pin : {{ctrl.Candidates.pin}}
                    .panel-body Degree : {{case.CaseEducationVerification.degree}}
                    .panel-body Passing Year : {{case.CaseEducationVerification.passing_year}}
                    .panel-body Roll number : {{case.CaseEducationVerification.role_no}}
                    .panel-body University Name : {{case.CaseEducationVerification.university_name}}
                    .panel-body Document :
                      a(target="_blank" ng-href=' {{ctrl.URLS.QVERIFY_API}}/candidates/{{ctrl.Candidates.id}}/getFile?access_token={{ctrl.AccessToken}}') download

                  .panel-heading
                ul.list-group(ng-repeat='case in ctrl.Candidates.CandidateCases' ng-if='case.case_type_id === 4' )
                  .panel.panel-danger
                    .panel-heading Site Verification
                    .panel-body Permanent Address 1 : {{ctrl.Candidates.address}}
                    .panel-body Permanent Address 2 : {{ctrl.Candidates.address2}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address3}}
                    .panel-body Current Address 2 : {{ctrl.Candidates.address4}}
                    .panel-body Phone number : {{ctrl.Candidates.phone}}
                    .panel-body State : {{ctrl.Candidates.state}}
                    .panel-body Pin : {{ctrl.Candidates.pin}}
                    .panel-body Company Name : {{case.CaseSiteVerification.company_name}}
                    .panel-body Concern person : {{case.CaseSiteVerification.concern_person}}
                    //.panel-body Document :
                    //  a(target="_blank" ng-href=' {{ctrl.URLS.QVERIFY_API}}/candidates/{{ctrl.Candidates.id}}/getFile?access_token={{ctrl.AccessToken}}') download




