div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container
    div.navbar-header
      button.navbar-toggle.pull-left(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed',ui-sref='partner') Back



.container
  .panel.panel
    .panel-heading-info
      p
        h4.text-ellipsis(style="color:#1750a9" title='{{$ctrl.data.CandidateCase.Candidate.name}}') {{$ctrl.data.CandidateCase.Candidate.name}}
    .panel-body
      ul.list-group
        li.list-group-item(style="color:#383f44")(ng-show="$ctrl.data.CandidateCase.Candidate.name")
          |  Case Name : {{$ctrl.data.CandidateCase.Candidate.name}}
        li.list-group-item( style="color:#383f44")(ng-if = "$ctrl.data.CandidateCase.address_status[0]==='1'")
          | Permanent Address 1 : {{$ctrl.data.CandidateCase.Candidate.address}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.address_status[2]==='1'")
          | Permanent Address 2: {{$ctrl.data.CandidateCase.Candidate.address2}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.address_status[4]==='1'")
          | Current Address 1: {{$ctrl.data.CandidateCase.Candidate.address3}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.address_status[6]==='1'")
          | Current Address 2: {{$ctrl.data.CandidateCase.Candidate.address4}}
        li.list-group-item( style="color:#383f44")(ng-show="$ctrl.data.CandidateCase.Candidate.phone")
          |  Phone : {{$ctrl.data.CandidateCase.Candidate.phone}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseCriminalVerification.father_name")
          |  Father's name : {{$ctrl.data.CandidateCase.CaseCriminalVerification.father_name}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseCriminalVerification.dob")
          |  Date of Birth : {{$ctrl.data.CandidateCase.CaseCriminalVerification.dob | date}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseSiteVerification.concern_person")
          |  Concern Person : {{$ctrl.data.CandidateCase.CaseSiteVerification.concern_person}}
        //li.list-group-item( style="color:#383f44")(ng-show="$ctrl.CaseSiteVerifications.length>0")
        //  |  Concern Person : {{$ctrl.CaseSiteVerifications[0].concern_person}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseSiteVerification.company_name")
          |  Company Name : {{$ctrl.data.CandidateCase.CaseSiteVerification.company_name}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseSiteVerification.email_id")
          |  Email id : {{$ctrl.data.CandidateCase.CaseSiteVerification.email_id}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CaseEducationVerification.degree")
          |  Degree : {{$ctrl.data.CandidateCase.CaseEducationVerification.degree}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseEducationVerification.passing_year")
          |  Passing Year : {{$ctrl.data.CandidateCase.CaseEducationVerification.passing_year}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseEducationVerification.role_no")
          |  Role no : {{$ctrl.data.CandidateCase.CaseEducationVerification.role_no}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseEducationVerification.university_name")
          |  University Name : {{$ctrl.data.CandidateCase.CaseEducationVerification.university_name}}
        li.list-group-item( style="color:#383f44")(ng-show="$ctrl.data.CandidateCase.Candidate.state")
          |  State : {{$ctrl.data.CandidateCase.Candidate.state}}
        li.list-group-item( style="color:#383f44")(ng-show="$ctrl.data.CandidateCase.Candidate.pin")
          |  Pin : {{$ctrl.data.CandidateCase.Candidate.pin}}
        //li.list-group-item( style="color:#383f44")
        ////  |  Client = {{$ctrl.Case.User.name}}
        li.list-group-item( style="color:#383f44")(ng-if="$ctrl.data.CandidateCase.CaseEducationVerification" ng-show="$ctrl.data.CandidateCase.Candidate.pdf")
          //|  Document = {{$ctrl.Case.pdf}}
          |  Document :
          a(target="_blank" ng-href='{{$ctrl.URLS.QVERIFY_API}}/candidates/{{$ctrl.data.CandidateCase.Candidate.id}}/getFile?access_token={{$ctrl.AccessToken}}') download



      .col-md-12
        //.col-md-3.col-xs-4
        //  button.btn.btn-primary.pull-right(type='submit' ng-show='$ctrl.status_id == 1 || $ctrl.status_id == 4' ng-click='$ctrl.updateStatus(3)') Accept
        //
        //.col-md-3.col-xs-4
        //  button.btn.btn-success.pull-right(type='submit' ng-show='$ctrl.status_id == 3 || $ctrl.$ctrl.status_id == 4' ng-click='$ctrl.$ctrl.Allocations.openCase()') Upload
        //
        //.col-md-3.col-xs-4
        //  button.btn.btn-danger.pull-right(type='submit' ng-show='$ctrl.status_id == 1 || $ctrl.status_id == 3' ng-click='$ctrl.updateStatus(4)') Reject

        .col-md-3.col-xs-4
          button.btn.btn-primary.pull-right(type='submit' ng-show='$ctrl.data.status_id == 1 || $ctrl.data.status_id == 4'  ng-click='$ctrl.updateStatus(3)') Accept

        .col-md-3.col-xs-4
          button.btn.btn-success.pull-right(type='submit' ng-show='$ctrl.data.status_id == 3 || $ctrl.data.status_id == 4' ng-click='$ctrl.openCase()') Upload

        .col-md-3.col-xs-4
          button.btn.btn-danger.pull-right(type='submit' ng-show='$ctrl.data.status_id == 1 || $ctrl.data.status_id == 3' ng-click='$ctrl.updateStatus(4)') Reject
