div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container

    div.navbar-header
      a.navbar-brand(href='#') Allocated Case
      button.navbar-toggle(type='button', ng-click='Partner.logout()')
       a
         img(src='assets/images/repeat (1).png')




.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
    #products.row.list-group
      .item.col-xs-12.col-lg-9(ng-repeat='allocation in Partner.Allocation' ui-sref='allocation.view({id: allocation.id})')
        .caption
          h4.group.inner.list-group-item-heading
            | {{allocation.CandidateCase.Candidate.name}}
          .row
            .col-xs-6
              p.group.inner.list-group-item-text
                | {{allocation.CandidateCase.CaseType.name}}
              //p.group.inner.list-group-item-text(ng-if="allocation.CandidateCase.CaseCriminalVerification")
              //  | Criminal Verification
              //p.group.inner.list-group-item-text(ng-if="allocation.CandidateCase.CaseEducationVerification")
              //  | Education Verification
              //p.group.inner.list-group-item-text(ng-if="allocation.CandidateCase.CaseSiteVerification")
              //  | Site Verification

            .col-xs-6
              p.group.inner.list-group-item-text
                | {{allocation.created_on | date}}
          //p.group.inner.list-group-item-text(ng-bind="allocation.Case.name + '-' + allocation.Case.CaseType.name ")
          //span.text-ellipsis(style="width:25%") {{allocation.Case.created_at | date}}


    div.fixed-nav.navbar
      ul
        li
          div.new
            img(src='assets/images/stopwatch (2).png' , href='/partner')
            div
              a(href='/partner') New

          //img(src='assets/images/stopwatch (2).png' , href='/partner')
          //a(href='/partner') New
        li
          div.new
            img(src='assets/images/stopwatch (3).png' , href='/ongoing')
            div
              a(href='/ongoing') Ongoing
          //img(src='assets/images/stopwatch (3).png' ,href='/ongoing')
          //a(href='/ongoing') Ongoing
        li
          div.new
            img(src='assets/images/stopwatch (4).png' , href='/completed')
            div
              a(href='/completed') Complete

          //img(src='assets/images/stopwatch (4).png' ,href='/completed')
          //a(href='/completed') Complete




