.label {
  text-align: center;
  min-height: 10px;
  min-width: 10px;
  font-size: 87%;


}
.list-group-item {
  padding-right: 6px;
  padding-left: 2px;
}

.navbar{
  margin-bottom: 1px;

}
.fixed-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
}

.fixed-nav li {
  display:inline-block;
}
.fixed-nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px;

  color: #333;
  font-family: arial;
}

.fixed-nav a:hover {
  background-color: #000;
  color: #eee;
}

.fixed-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
  height: 52px;
  box-sizing: border-box;
  padding: 16px;
  box-shadow: 0px -3px 6px rgba(0,0,0,0.16),0px -3px 6px rgba(0,0,0,0.23);
}
//.navbar {
//  position: fixed;
//  bottom: 0;
//  left: 0;
//  z-index: 9999;
//  width: 100%;
//  height: 50px;
//  background-color: #ccc;
//}

//main {
//  margin-bottom:50px;
//}
.panel-body {
  padding: 2px;
}
