.dashboard-page
  .container-fluid
    .row
      sidebar

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
        .col-md-12.col-sm-12.col-xs-12.panel.panel-info.no-padder
          .panel-heading.font-bold.h4.text-ellipsis.bg-light
            .fa.fa-mouse-pointer.text-dark
            | &nbsp;&nbsp;Register
        toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

        div.m-t-xl.padder.no-margin(style="padding-left:200px ; padding-right:200px")
          .hbox
            .wrapper-md.bg-light
              form.form-validation(name="form" ng-submit='Register.register(Register.user)')


                .list-group.list-group-sm.m-b-md

                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-12.col-sm-12.col-xs-12
                          label.col-xs-12.input-group
                            | Company
                            span.text-danger *
                            select.form.form-control(  ng-options='item.id as item.name for item in Register.Company' ng-model='Register.user.company_id' ng-disabled="true"  required)
                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-12.col-sm-12.col-xs-12
                          label.col-xs-12.input-group
                            | Username
                            span.text-danger *
                            input.form.form-control(type='text' placeholder='eg.Username' ng-model='Register.user.username' required)

                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-12.col-sm-12.col-xs-12
                          label.col-xs-12.input-group
                            | Name
                            span.text-danger *
                            input.form.form-control(type='text' placeholder='name' ng-model='Register.user.name'  required  )


                    //.line.line-dashed.b-b.line-lg.pull-in
                    //  .row
                    //    .col-md-12.col-sm-12.col-xs-12
                    //      label.col-xs-12.input-group
                    //        |  Confirm Password
                    //        input.form.form-control(type='password' placeholder=' confirm password' ng-model='Register.user.confirm_password' )
                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-12.col-sm-12.col-xs-12
                          label.col-xs-12.input-group
                            | E-mail
                            span.text-danger *
                            input.form.form-control(type='email' placeholder='email id' ng-model='Register.user.email'  required )
                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-12.col-sm-12.col-xs-12
                          label.col-xs-12.input-group
                            | Password
                            span.text-danger *
                            input.form.form-control(type='password' placeholder='password' ng-model='Register.user.password'  required)
                    .line.line-dashed.b-b.line-lg.pull-in
                      .row
                        .col-md-12.col-sm-12.col-xs-12
                          label.col-xs-12.input-group
                            | Contact
                            span.text-danger *
                            input.form.form-control(type='text' placeholder='contact' ng-model='Register.user.mobile'  required )







                  button.btn.btn-lg.btn-primary.btn-block(type='submit' ng-disabled='form.$invalid' style='background-color:#083040' ) Register


