.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
  //toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

  div.m-t-xl.padder.no-margin(style="padding-left:2px")
    .hbox
      .wrapper-md.bg-light
        form.form-validation(name="form" ng-submit='Address.createAddress()')


          .list-group.list-group-sm.m-b-md
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Visiting address
                    input.form.form-control(type='text' placeholder='eg.Visiting address' ng-model='Address.address.visiting_address'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Visiting person name
                    input.form.form-control(type='text' placeholder='eg.Visiting person name' ng-model='Address.address.visiting_person_name'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Relation with candidate
                    input.form.form-control(type='text' placeholder='eg.Relation with candidate' ng-model='Address.address.relation_with_candidate'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | House types id
                    select.form.form-control(type='text' placeholder='eg.House types id' ng-options='item.id as item.name for item in Address.HouseType' ng-model='Address.address.house_type_id'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | years of staying
                    input.form.form-control(type='text' placeholder='eg.years of staying' ng-model='Address.address.years_of_staying'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | image
                    input.form.form-control(type='file' placeholder='eg.image' ng-model='Address.address.img' base-sixty-four-input maxsize="10000" name='file'  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | remarks
                    input.form.form-control(type='text' placeholder='eg.Relation with candidate' ng-model='Address.address.remark'  )



            //.list-group-item: input.form-control.no-border(type='text' placeholder='visiting address' ng-model='Address.address.visiting_address' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='visiting person name' ng-model='Address.address.visiting_person_name' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='relation with candidate' ng-model='Address.address.relation_with_candidate' required)
            //.list-group-item: select.form-control.no-border(type='text' placeholder='house types id' ng-options='item.id as item.name for item in Address.HouseType' ng-model='Address.address.house_type_id' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='years of staying' ng-model='Address.address.years_of_staying' required)
            //.list-group-item: input.form-control.no-border(type='file' placeholder='image' ng-model='Address.address.img' base-sixty-four-input maxsize="10000" name='file' required)
            //.list-group-item: input.form-control.no-border(type='text' placeholder='remarks' ng-model='Address.address.remark' required)

            button.btn.btn-primary.pull-left(type='submit' ng-disabled='form.$invalid' )
              i.fa.fa-upload
              | &nbsp;&nbsp;Submit
