div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container
    div.navbar-header
      button.navbar-toggle.pull-left(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed',ui-sref='partner') Back

.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
  //toaster-container(toaster-options="{'time-out': 1000, 'position-class': 'toast-top-right', 'close-button':true, 'animation-class': 'toast-top-right'}")

  div.m-t-xl.padder.no-margin(style="padding-left:2px")
    .hbox
      .wrapper-md.bg-light
        form.form-validation(name="form" ng-submit='$ctrl.update()')


          .list-group.list-group-sm.m-b-md
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Name of company
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Name of company' ng-model='$ctrl.data.name_of_company'  required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Address
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Address' ng-model='$ctrl.data.address' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Phone
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Phone' ng-model='$ctrl.data.telephone' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Fax no
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Fax no' ng-model='$ctrl.data.fax_no' required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Email id
                    span.text-danger *
                    input.form.form-control(type='email' placeholder='eg.email' ng-model='$ctrl.data.email_id' required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Website
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.website' ng-model='$ctrl.data.website'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Total no of employees
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.total no of employees' ng-model='$ctrl.data.total_no_of_employees'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Name of employees
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.name of employees' ng-model='$ctrl.data.name_of_employees'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | No of employees present
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.no_of_employee_present' ng-model='$ctrl.data.no_of_employee_present'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Name of chief executive
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.name of chief executive' ng-model='$ctrl.data.name_of_chief_executive'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Company sign present
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.company sign present' ng-model='$ctrl.data.company_sign_present'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Director
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.director' ng-model='$ctrl.data.director'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Computers
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.computers' ng-model='$ctrl.data.computers'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Tables
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.tables' ng-model='$ctrl.data.tables'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Chairs
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.Chairs' ng-model='$ctrl.data.chairs' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Approx
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.approx' ng-model='$ctrl.data.approx' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Area
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.area' ng-model='$ctrl.data.area' required )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Employee awareness
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.employee_awareness' ng-model='$ctrl.data.employee_awareness'  required  )
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Neighbours name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.neighbours_name' ng-model='$ctrl.data.neighbours_name'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Designation
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.designation'  ng-model='$ctrl.data.designation'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Remarks
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.remarks' ng-model='$ctrl.data.remarks'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Comment
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.comment' ng-model='$ctrl.data.comment'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Concern person
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.concern person' ng-model='$ctrl.data.concern_person'  required)
            .line.line-dashed.b-b.line-lg.pull-in
              .row
                .col-md-12.col-sm-12.col-xs-12
                  label.col-xs-12.input-group
                    | Company name
                    span.text-danger *
                    input.form.form-control(type='text' placeholder='eg.company_name' ng-model='$ctrl.data.company_name'  required)

              button.btn.btn-primary.pull-left(type='submit' ng-disabled='form.$invalid'  style='background-color:#083040' )
                i.fa.fa-upload
                | &nbsp;&nbsp;Submit









