.modal-header
  h3.modal-title Case Allocations
.modal-body
  .col-md-7.col-sm-7.col-xs-7
    // Form Items
    .line.line-dashed.b-b.line-lg.pull-in
      .row
        //.col-md-4.col-sm-4.col-xs-12
        //  label.col-xs-12.input-group
        //    | Case Types
        //    select.form.form-control(ng-options="item as item.name for item in ctrl.CaseTypes" ng-model="ctrl.allocation.caseType"  )
        //      option(value="") Please select Case Types

        .col-md-6.col-sm-6.col-xs-12
          label.col-xs-12.input-group
            | Vendor
            select.form.form-control(ng-options="item.id as item.name for item in ctrl.Vendor" ng-model="ctrl.allocation.vendor_id" ng-change='ctrl.getUsers(ctrl.allocation.vendor_id)')
              option(value="") Please select Vendor
        .col-md-6.col-sm-6.col-xs-12
          label.col-xs-12.input-group
            | Users
            select.form.form-control(ng-options="item.id as item.name for item in ctrl.users" ng-model="ctrl.allocation.user_id" )
              option(value="") Please select user
.modal-footer( style='border-top:0px;')
  button.btn.btn-primary(type='button', ng-click='ctrl.create()') OK
  button.btn.btn-warning(type='button', ng-click='ctrl.cancel()') Cancel
