.col-sm-3.col-md-2.sidebar
  .text-center
    h2.brand
      | Q Verify

    img.user-avatar(src='assets/images/qverify1.png')
    br
    a.btn.btn-white.btn-outline.btn-rounded.btn-sm(ng-click='$ctrl.logout()') Logout
  ul.nav.nav-sidebar
    li(ui-sref-active='active' ng-class="{active: $state.includes('overview')}")
      a(ui-sref='overview')
        | Cases
        span.sr-only (current)
    li(ui-sref-active='active' ng-class="{active: $state.includes('case')}")
      a(ui-sref='case') Checks
    li(ui-sref-active='active' ng-class="{active: $state.includes('company')}")
      a(ui-sref='company') Company
