div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')

  div.container

    div.navbar-header
      a.navbar-brand(href='#')  Completed Cases
      button.navbar-toggle(type='button', ng-click='Completed.logout()')
          a
          img(src='assets/images/repeat (1).png')


.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(ui-view='')
    #products.row.list-group
      .item.col-xs-12.col-lg-9(ng-repeat='allocation in Completed.Allocated' ui-sref='view({id: allocation.id })')
        .caption
          h4.group.inner.list-group-item-heading-info
            | {{allocation.CandidateMap.Candidate.name}}
          p.group.inner.list-group-item-text(ng-if="allocation.CandidateMap.CaseAddressVerification")
            | Address Verification
          p.group.inner.list-group-item-text(ng-if="allocation.CandidateMap.CaseCriminalVerification")
            | Criminal Verification
          p.group.inner.list-group-item-text(ng-if="allocation.CandidateMap.CaseEducationVerification")
            | Education Verification
          p.group.inner.list-group-item-text(ng-if="allocation.CandidateMap.CaseSiteVerification")
            | Site Verification

    div.fixed-nav.navbar
      ul
        li
          div.new
            img(src='assets/images/stopwatch (2).png' , href='/partner')
            div
              a(href='/partner') New
        li
          div.new
            img(src='assets/images/stopwatch (3).png' , href='/ongoing')
            div
              a(href='/ongoing') Ongoing
        li
          div.new
            img(src='assets/images/stopwatch (4).png' , href='/completed')
            div
              a(href='/completed') Complete






